<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <img id="main-logo" src="../../assets/icon/spaceship-icon.png" alt="Icon">
        <h2>Starship Stop Counter</h2>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="20px"> 
         <a href="https://github.com/Pedrohf360/spaceships-stop-counter" target="blank">   
        <img class="menu-logo" src="../../assets/img/github.png" alt="Github">
    </a>
        </div>
    </div>
</div>