:host {
    background: black;
    padding: 30px;
}

#table-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 5px;
    margin-left: 30px;
    width: 100%;
    overflow: scroll;

    table {
        width: 100%;
    }

    td, th {
        width: 25%;
      }
}

mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  #paginator {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 30%;
    font-size: 14px;
    color: #8e8888;
    margin-top: 20px;
    
    #arrows {
      display: flex;
      flex-direction: row;

      #left-arrow, #right-arrow:hover {
        cursor: pointer;
      }
    }
  }

  .disabled-arrow {
    color: #b8b8b8;
}